<h2>
  Script Editor
</h2>

<h5 class="col-sm-6 col-sm-offset-3 text-center" id="plays">
  <ul>
    <li>
      <a href="#">A Midsummer Night's Dream</a>
    </li>
    <li>
      <a href="#">As You Like It</a>
    </li>
    <li>
      <a href="#">Hamlet</a>
    </li>
    <li>
      <a href="#">Othello</a>
    </li>
  </ul>
</h5>