/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*"bootstrap-sprockets" must be imported before "bootstrap" and 
"bootstrap/variables"*/
@import "bootstrap-sprockets";
@import "bootstrap";

div.container{
	margin-left: 0;
}

body {
  padding-top: 50px;
}

.dropdown-menu {
	min-width: 200px;
}
.dropdown-menu.columns-2 {
	min-width: 400px;
}
.dropdown-menu.columns-3 {
	min-width: 600px;
}
.dropdown-menu.columns-5 {
	min-width: 1000px;
}
.dropdown-menu li a {
	padding: 5px 15px;
	font-weight: 300;
}
.multi-column-dropdown {
	list-style: none;
}
.multi-column-dropdown li a {
	display: block;
	clear: both;
	line-height: 1.428571429;
	color: #333;
	white-space: normal;
}
.multi-column-dropdown li a:hover {
	text-decoration: none;
	color: #262626;
	background-color: #f5f5f5;
}

.sidebar {
	background-color: gainsboro;
	opacity: 90;
	margin-top: 120px;
	padding-top: 10px;
	padding-bottom: 5px;
	box-shadow:  8px 8px 9px

}
.sidebar li {
		list-style-type: none;
		/*text-shadow:  2px 2px red*/
}

.sidebar li a {
	color: #000000!important;
}
.sidebar li .scene {
		padding-left: 15px;
}

.showsidebar {
	display: block;
}
ul.scroll-menu {
	position: relative;
	display: inherit!important;
	height: 300px;
	overflow-x: hidden;
	/*overflow-x: auto;
	-webkit-overflow-scrolling:touch;
	overflow-scrolling: touch;*/

}
 
@media (max-width: 767px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
}

.lineNum {
	padding-right: 50px;
	font-size: 7pt;
}

.strikethrough {
  text-decoration: line-through;
}